/* src/index.css (or your main CSS/SCSS file)  #dceaf5*/
@import "~@fortawesome/fontawesome-svg-core/styles.css";
body {
  background: url("C:\Users\91960\Desktop\React-FireBase\map-firebase\src\Components\Assets\bgGreen.avif");
  background-color: #e9f1f7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
